<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperAndes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

    <div class="container mx-auto w-auto">
        <h1>SuperAndes</h1>

        <div>
            <a th:href="@{/bodega}" class="btn btn-primary">Bodegas</a>
            <a th:href="@{/ciudad}" class="btn btn-primary">Ciudades</a>
            <a th:href="@{/ordencompra}" class="btn btn-primary">Ordenes de Compra</a>
            <a th:href="@{/productobodega}" class="btn btn-primary">Productos en Bodega</a>
            <a th:href="@{/productocompra}" class="btn btn-primary">Productos Ordenados</a>
            <a th:href="@{/producto}" class="btn btn-primary">Productos</a>
            <a th:href="@{/sucursal}" class="btn btn-primary">Sucursales</a>

        </div>
    </div>
    
</body>
</html>